:root {
    --main-color: hsl(258, 98%, 26%);
    --secondary-color:hsl(207, 90%, 54%);
    --primary-text-color: hsl(258, 8%, 90%);
    --secondary-text-color: hsl(56, 100%, 52%);
    --background-color: hsl(268, 27%, 11%);
    --selected-background: hsl(270, 37%, 19%);
    --table: hsl(295, 14%, 15%);
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    height: 100vh;
    width:100vw;
    padding: 50px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: var(--background-color);
}
.header .header-container{
    margin-top: 15%;
    position: absolute;
}
.navbar{
    position: absolute;
    padding:50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}
.header .header-container .banner{
    font-size: 4em;
    font-weight: bold;
    color: var(--primary-text-color);
}
.header .header-container p{
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-text-color);
}

.navbar a{
    color: var(--primary-text-color);
}
.navbar .logo{
    font-size: 3em;
    font-weight: bold;
}
.navbar .nav-links ul{
    display: flex;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius:1%;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: var(--main-color);
    font-weight: bold;
}
header::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f);
    clip-path: circle(10% at 20% 25%);
}
header::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f);
    clip-path: circle(20% at 80% 75%);
}

main {
    /* Deixa no tamanho da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-color);
}

.three{
    margin: 5%;
    align-items: center;
    color: var(--primary-text-color);
    z-index: 10;
    font-size: 2em;
    width: 100%;
    height: 100%;
}
 
.three img{
    border-radius: 10%;
    width: 40%;
    min-height: 430px;
}

.three table{
    width: 100%;
    border: 2px solid var(--table);
}
.three table thead{
    text-align: center;
    background-color: var(--table);
}
.three table tfoot{
    background-color: var(--table);
    color: var(--table);
}
main::before {
    content: '';
    position: absolute;
    top: 1;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f);
    clip-path: circle(45% at right 100%);
}
.header .banner-text, .header .banner{
    width: 90%;
    display: inline-block;
}

.container .phone{
    position: absolute;
    width: 500px;
    height: 700px;
    margin-left: 1000px;
}
.container .p-align{
    width: 100px;
    margin-top: 100px;
}

main::after {
    content: '';
    position: absolute;
    top: 1;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #f0f);
    clip-path: circle(20% at 14% 35%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .founder{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 30px;
    border-radius: 10%;
}
.container .name{
    position: relative;
    height: 100%;
    display: flex;
}

.container .title{
    color: var(--secondary-text-color);
    text-transform: uppercase;
}
.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8EM;
    color: #ffff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #ffff;
    font-weight: 300;

}
.container h1{
    font-size: 3em;
    color: var(--primary-text-color);
}
#pzinho{
    font-size: 1.5em;
    color: var(--primary-text-color);
    text-align: center;
}
.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #151515;
    color: #ffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.container .text-container .parceria{
    color: var(--primary-text-color);
    position: relative;
    width: 90%;
    text-align: justify;
    text-transform: uppercase;
}

.container .text-container .aplha{
    color: var(--primary-text-color);
    width: 50%;
    position: relative;
    text-align: justify;
    text-transform: uppercase;
}

.container .p-align{
    width: 120%;
    position: relative;
    color: var(--primary-text-color);
}

footer{
    height: 10vh;
    width:100vw;
    padding: 50px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: var(--background-color);
}

footer{
    background-color: #2196f3;
}
footer div{
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
}